<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap 5 Responsive Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        .navbar {
            background-color: #343a40;
            /* Đổi màu nền thành màu gray-dark */
        }

        .navbar-brand {
            font-weight: bold;
            /* Đổi font chữ thành đậm */
            font-family: serif;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <a class="navbar-brand" href="/overview" style="font-family: 'Brush Script MT', cursive;">HUST APARTMENT</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/overview">Tổng quan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/password">Đổi mật khẩu</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" href="/logout">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>