<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="background-image: url('/img/background.jpg');">
  <div class="container custom-container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=101">
          <button id="Phòng 101" class="custom-button btn btn-primary btn-block">Phòng 101 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=102">
          <button id="Phòng 102" class="custom-button btn btn-primary btn-block">Phòng 102 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=103">
          <button id="Phòng 103" class="custom-button btn btn-primary btn-block">Phòng 103 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=104">
          <button id="Phòng 104" class="custom-button btn btn-primary btn-block">Phòng 104 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=1">
          <button id="Hành lang tầng 1" class="custom-button btn btn-primary btn-block">Hành lang tầng 1 <i
              class="fas fa-th"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=1-2">
          <button id="Cầu thang 1-2" class="custom-button btn btn-primary btn-block">Cầu thang 1-2 <i
              class="fas fas fa-align-justify"></i></button>
        </a>
      </div>
    </div>
  </div>

  <div class="container custom-container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=201">
          <button id="Phòng 201" class="custom-button btn btn-primary btn-block">Phòng 201 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=202">
          <button id="Phòng 202" class="custom-button btn btn-primary btn-block">Phòng 202 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=203">
          <button id="Phòng 203" class="custom-button btn btn-primary btn-block">Phòng 203 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=204">
          <button id="Phòng 204" class="custom-button btn btn-primary btn-block">Phòng 204 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=2">
          <button id="Hành lang tầng 2" class="custom-button btn btn-primary btn-block">Hành lang tầng 2 <i
              class="fas fa-th"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=2-3">
          <button id="Cầu thang 2-3" class="custom-button btn btn-primary btn-block">Cầu thang 2-3 <i
              class="fas fas fa-align-justify"></i></button>
        </a>
      </div>
    </div>
  </div>

  <div class="container custom-container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=301">
          <button id="Phòng 301" class="custom-button btn btn-primary btn-block">Phòng 301 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=302">
          <button id="Phòng 302" class="custom-button btn btn-primary btn-block">Phòng 302 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=303">
          <button id="Phòng 303" class="custom-button btn btn-primary btn-block">Phòng 303 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=304">
          <button id="Phòng 304" class="custom-button btn btn-primary btn-block">Phòng 304 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=3">
          <button id="Hành lang tầng 3" class="custom-button btn btn-primary btn-block">Hành lang tầng 3 <i
              class="fas fa-th"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=3-4">
          <button id="Cầu thang 3-4" class="custom-button btn btn-primary btn-block">Cầu thang 3-4 <i
              class="fas fas fa-align-justify"></i></button>
        </a>
      </div>
    </div>
  </div>

  <div class="container custom-container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=401">
          <button id="Phòng 401" class="custom-button btn btn-primary btn-block">Phòng 401 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=402">
          <button id="Phòng 402" class="custom-button btn btn-primary btn-block">Phòng 402 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=403">
          <button id="Phòng 403" class="custom-button btn btn-primary btn-block">Phòng 403 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=404">
          <button id="Phòng 404" class="custom-button btn btn-primary btn-block">Phòng 404 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=4">
          <button id="Hành lang tầng 4" class="custom-button btn btn-primary btn-block">Hành lang tầng 4 <i
              class="fas fa-th"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=4-5">
          <button id="Cầu thang 4-5" class="custom-button btn btn-primary btn-block">Cầu thang 4-5 <i
              class="fas fas fa-align-justify"></i></button>
        </a>
      </div>
    </div>
  </div>

  <div class="container custom-container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=501">
          <button id="Phòng 501" class="custom-button btn btn-primary btn-block">Phòng 501 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=502">
          <button id="Phòng 502" class="custom-button btn btn-primary btn-block">Phòng 502 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=503">
          <button id="Phòng 503" class="custom-button btn btn-primary btn-block">Phòng 503 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a style="text-decoration: none;" href="location?params=504">
          <button id="Phòng 504" class="custom-button btn btn-primary btn-block">Phòng 504 <i
              class="fas fa-home"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=5">
          <button id="Hành lang tầng 5" class="custom-button btn btn-primary btn-block">Hành lang tầng 5 <i
              class="fas fa-th"></i></button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <a style="text-decoration: none;" href="location?params=5-6">
          <button id="Cầu thang 5-6" class="custom-button btn btn-primary btn-block">Cầu thang 5-6 <i
              class="fas fas fa-align-justify"></i></button>
        </a>
      </div>
    </div>
  </div>

</body>

</html>

<style>
  .container .custom-container {
    margin-top: 50px;
    /* Thay đổi giá trị tùy theo khoảng cách bạn muốn */
  }

  .custom-button:hover {
    background-color: greenyellow;
  }

  .custom-button {
    height: 50px;
    text-align: center;
    background-color: greenyellow;
    color: black;
    border: solid;
    margin: 2px;
    z-index: 2;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

  function updateProgress() {
    axios.get('/api/alarm')
      .then(function (response) {
        const locations = response.data.locations;
        const localAlarms = response.data.localAlarms;

        for (let i = 0; i < locations.length; i++) {
          const locationId = locations[i].location;
          let button = document.getElementById(locationId);

          if (localAlarms[i].alarm == 'ON') {
            button.style.backgroundColor = 'red';
          } else {
            if (locations[i].deviceState == 'OFF') {
              button.style.backgroundColor = 'gray';
            } else {
              button.style.backgroundColor = 'greenyellow';
            }
          }
        }
      })
      .catch(function (error) {
        console.error(error);
      });
  }

  setInterval(updateProgress, 500);
</script>