<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<style>
    #message {
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: wheat;
    }
</style>
<body style="background-color: coral;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2 class="text-center">Đổi mật khẩu</h2>
                <form id="changePasswordForm" method="post" action="">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" name="currentPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control" name="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                        <input type="password" class="form-control" name="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </form>
                <div id="message" class="mt-3" style="display: none;">{{message}}</div>         
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>

<script>
    // Tìm phần tử thông báo và biểu mẫu
    const messageDiv = document.getElementById('message');
    const form = document.getElementById('changePasswordForm');

    if (messageDiv.innerText != "") {
        messageDiv.style.display = 'block';
        console.log(messageDiv.innerText);
    }

    // Kiểm tra nếu cả hai phần tử tồn tại
    if (messageDiv && form) {
        // Ẩn thông báo khi biểu mẫu được tương tác
        form.addEventListener('click', function () {
            messageDiv.style.display = 'none';
        });
    }
</script>
